*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;    
}

.hdr{
    background: var(--white);
    box-shadow: 0 1px 4px 0 #0000001a;
    box-sizing: border-box;
    height: 90px;
    width: 100%;
}
.bi-arrow-left{
    position: absolute;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 25px;
    color: black;

}
.veh-info{
    position: absolute;
    margin-left: 700px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.info-box{
    position: absolute;
    width: 1000px;
    height: 1400px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    top: 225px;
    left: 420px;
}
.veh-type{
    margin-left: 100px;
    margin-top: 100px;
    width: 500px;
    height: 40px;
    font-size: x-large;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.veh-name{
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    height: 40px;
    font-size: x-large;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.veh-number{
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    height: 40px;
    font-size: x-large;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.veh-time{
    margin-left: 100px;
    margin-top: 100px;
    width: 500px;
    height: 40px;
    font-size: x-large;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.rnt-time{
    position: absolute;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-left: 100px;
}
.veh-color{
    margin-left: 100px;
    margin-top: 60px;
    width: 500px;
    height: 40px;
    font-size: x-large;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.img-txt{
    position: absolute;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 60px;
}
.veh-img{
    position:absolute;
    width: 800px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    
    top: 900px;
    left: 100px;
}
.img{
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
    cursor: pointer;
    float: left;
}
#submit-button{
    position: absolute;
    margin-top: 640px;
    margin-left: 210px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    height: 40px;
    cursor: pointer; 
}
#submit-button:hover{
    background-color: rgb(119, 203, 255);
    transition: 0.5s;
}